<?xml version="1.0" encoding="utf-8" ?>
<Configuration>

	<DbConnection
		ConnectionString=""
		ConnectionTimeOut="15"
		CommandTimeOut="60"
		Host='10.40.254.10'
		User='dh'
		Pwd='daehwa0815!'
	/>

	<SocketConnection
		inPort="25000"
		outPort="17011"
		outIP="127.0.0.1"
		_outIP="192.168.199.51"
		KABinPort="27000"
		KABoutPort="17012"
		KABoutIP="127.0.0.1"
		_KABoutIP="192.168.199.51"
		MinThreads="3"
		MaxThreads="10"
		IdleTimeOut="120"
	/>

</Configuration>
